* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1f20;
    line-height: 1;
    font: normal 14px/0.9em 'Vazir', Arial, sans-serif;
    color: #ffffff;
    line-height: 1.9em;
    letter-spacing: 0.008em;
    direction: rtl;
    margin: 0px;
    font-display: swap;
}

a {
    text-decoration: none;
    color: #36393a;
}

a:hover {
    color: #36393a;
    text-decoration: underline #36393a 3px;
}

del {
    color: #fb6a6a !important;
}

blockquote {
    border: 2px #81e9aa solid;
    color: #000;
    background-color: #d8f8e4;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 0 5px #e5faed;
    box-shadow: 0 0 0 5px #e5faed;
    padding: 10px 10px 10px 10px;
    margin: 30px;
}

code {
    direction: ltr;
    padding: 0 5px;
    background: #f2f2f2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: WebFireCode, consolas, menlo, monaco, monospace;
    font-size: .85em;
    float: left;
}

pre {
    background-color: #eaeaea;
    font-family: WebFireCode, fire code, consolas;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1em;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    overflow-x: auto;
    width: 100%
}

hr {
    display: block;
    border: none;
    height: 2px;
    margin: 40px auto;
    background: #eee;
}

table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    line-height: 1.5em;
}

th,
td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td,
td {
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

thead th,
th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    cursor: default;
    white-space: nowrap;
    border: 1px solid #dadadc;
}

tr>td {
    border: 1px solid #dadadc;
}

tr:nth-child(odd)>td {
    background: #fcfcfc;
}

h1,
h2,
h3 {
    font-weight: 400;
}

p {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

p,
pre {
    word-break: normal;
    overflow-wrap: anywhere;
}

.markdown-image img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    font-size: 100%;
    visibility: hidden;
    color: silver;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
    visibility: visible
}

/* footer */
#footer {
    margin-top: 20px;
    text-align: center;
    color: #bbbbbb;
    font-size: 11px;
    line-height: 2.3em;
}

#footer a {
    color: #d7e5ea;
    border-bottom: 1px solid;
    border-bottom-color: currentcolor;
    overflow-wrap: break-word;
    text-decoration: none;
    padding-bottom: 2px;
}

#footer .copyright {
    font-family: Vazir, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

#footer .split {
    cursor: pointer;
}

#footer .split:hover path {
    fill: #ff3356;
    transition: 0.7s ease-out;
    cursor: pointer;
    ;
}

/* main content */
.main {
    width: 100%;
    margin: 0 auto;
}

/* profile */
.profile {
    margin: 60px auto 0 auto;
    text-align: center;
}

.profile .avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#list-page {
    max-width: 90%;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    background: #242628;
    border-radius: 20px;
    display: block;
}

#list-page .item {
    margin: 12px 0;
}

#list-page .title {
    color: #404040;
    font-size: 18px;
    font-weight: 400;
}

#list-page .title a {
    color: #fba056;
}

#list-page .title a:hover {
    text-decoration: underline rgb(255, 255, 255) 1px;
}

#list-page .date {
    color: #bbb;
    padding: 5px 0px 5px 0px;
    font-size: 11px;
}

.thumbnail img {
    border: solid 2px #ffffff21;
    border-radius: 30px;
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    overflow: hidden;
}

#list-page .post {
    background-color: #69696921;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#list-page .p12 {
    float: right;
    width: calc(100% - 140px - 20px);
}

.more {
    color: #0366d6;
}

.more:hover {
    color: #5d93cf;
}

svg.bi {
    padding-left: 3px;
    margin-block: -3px;
}

#list-page .cover {
    width: 100px;
    height: 100px;
    background: #fff;
}

#list-page .cover img {
    width: 100%;
    text-align: center;
}

#list-page .pagination {
    margin: 48px 0;
    width: 100%;
    height: 32px;
    margin-top: 48px;
}

#list-page .pagination .pre {
    float: left;
}

#list-page .pagination .next {
    float: right;
}

#single {
    max-width: 90%;
    margin: 60px auto 0 auto;
    padding: 0 0 5px 0;
    background-color: #242628;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#list-page,
#single {
    box-shadow: #ffffff38 0px 0px 3px 0px;
}

#single .title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    padding-top: 20px;
    color: orange;
}

#single .tip {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    background-color: #ffffff0a;
    color: #acacac;
    border-radius: 5px;
}

#single .tip a {
    color: #acacac;
}

#single .tip .split {
    margin: 0 4px;
}

.content {
    margin-bottom: 20px;
    padding: 15px;
    text-align: justify;
    background-color: #ffffffd6;
    color: #0d0d0d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#single .tags {
    margin-right: 35px;
}

#single .tags a {
    padding: 4px 7px;
    color: #4da97b;
    font-size: 12px;
    margin-right: 3px;
}

#single .tags a:hover {
    font-size: 14px;
}

#archive {
    max-width: 80%;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;
    background: #242628;
    border-radius: 20px;
}

#archive .total {
    font-size: 15px;
}

#archive .group {
    margin: 24px auto;
}

#archive .group .key {
    font-size: 18px;
    margin-bottom: 12px;
}

#archive .group .value {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

#archive .group .value .date {
    display: inline-block;
    color: #333;
    min-width: 60px;
    font-size: 12px;
}

#archive .group .value .title::before {
    content: '::';
}

#archive .group .value .title {
    display: inline;
}

#archive .group .value .title a {
    color: #4da97b;
}

#archive .group .value .title a:hover {
    color: #0c703e;
}

#archive .group .value .tags {
    display: inline;
    margin-left: 7px;
}

#archive .group .value .tags a {
    background: #f2f2f2;
    padding: 4px 7px;
    color: #999;
    font-size: 14px;
    margin-right: 3px;
}

#archive .group .value .tags a:hover {
    color: #0366d6;
}

/* taxonomy */
#tags {
    max-width: 80%;
    margin: 0px auto 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #404040;
}

#tags .tag {
    display: inline-block;
    margin: 7px 7px;
}

#tags .tag a {
    padding: 4px 7px;
    color: #fff;
    background-color: #198754;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 3px;
}

#tags .tag a:hover {
    font-size: 16px;
}

/* section page */
#section {
    max-width: 80%;
    margin: 48px auto 0 auto;
    padding: 0 12px;
}

/* 404 page */
#page-404 {
    max-width: 80%;
    margin: 30px auto 0px auto;
    padding: 5px 20px 50px 20px;
    background: #fff;
    border-radius: 20px;
    color: #1d1f20;
}

#page-404 .item {
    margin: 12px 0 0 0;
}

#page-404 h1 {
    font-size: 100px;
    font-weight: bolder !important;
    font-family: Liberation Mono;
}

#page-404 .title {
    display: inline-block;
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

#page-404 .text {
    text-align: center;
    margin-top: 60px;
}

#page-404 span {
    color: #ff3356;
    font-size: 24px;
}

#page-loader {
    width: 100%;
    height: 100%;
    background: #1d1f20;
    color: #3a3a3a;
    opacity: 0.99;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-animation: cssAnimation 2s forwards;
    animation: cssAnimation 2s forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}

.loading-wrapper {
    width: 250px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -125px;
}

.tp-loader {
    z-index: 10000;
    position: relative;
}

.tp-loader.spinner {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.loader-name {
    color: #fafafa;
    opacity: 0.9;
    text-align: center;
    font-size: 32px;
    letter-spacing: -2px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 200;
    margin-top: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.loader-left {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
}

.loader-right {
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
}

.loader-up {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
    opacity: 0 !important;
}

.loader-down {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0;
}

.loader-hide {
    opacity: 0;
}

.loader {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

.loader-animation {
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.nav {
    height: 50px;
    width: 97%;
    background-color: #7719a2;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 14px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .thumbnail img {
        display: none !important;
    }

    .p12 {
        width: 100% !important;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.ghost {
    margin: 20px;
    overflow: hidden;
}

.obar {
    width: 49%;
    overflow: hidden;
    background-color: #00000012;
    padding: 10px;
    border-radius: 10px;
}

.left,
.alignleft {
    float: left;
}

.right,
.alignright {
    float: right;
}

.box-title {
    font-size: 14px;
}

.tags a {
    color: #198754;
}

.tags a:hover {
    color: #198754;
}

.tags span::after {
    content: " ØŒ ";
}

button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

input,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-family: Vazir;
}

::-moz-selection {
    background: #eb4559;
    color: #fff;
    transform: scale(.8)
}

::selection {
    background: #eb4559;
    color: #fff;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

ol.breadcrumb {
    padding: 5px 25px;
    list-style: none;
    background-color: #3ca738;
    color: #acacac;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

ol.breadcrumb li {
    display: inline;
    font-size: 12px;
}

ol.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(209, 209, 209);
    content: "/\00a0";
}

ol.breadcrumb li a,
ol.breadcrumb li span {
    color: #ffffff;
    text-decoration: none;
}

ol.breadcrumb li a:hover {
    color: #cccccc;
    text-decoration: underline;
}

.tm {
    margin-top: 50px
}

.sharebuttons,
.sharebuttons ul {
    display: flex;
    margin: 0.25rem 0;
    align-items: center;
}

.sharebuttons ul li {
    list-style: none;
    margin: 0;
}

.sharebuttons ul li a {
    margin: 0 0.5rem;
    display: block;
}

.sharebuttons ul li:first-child a {
    margin: 0 0.2rem 0 0.5rem;
}

.sharebuttons ul li a svg {
    width: auto;
    height: 1.1rem;
    display: block;
}

.will-change {
    transition: 250ms;
}

nav.sharebuttons li>a:hover .will-change {
    fill: #444444
}

@font-face {
    font-family: "Vazir";
    src: url("font/100.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("font/300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("font/400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("font/500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("font/700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("font/900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}